<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{selectedPet?.name?.toLocaleUpperCase()}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container-fluid">
  <div class="ion-padding">
    <div class="row">
      <div class="col-lg-6 mb-4 mt-4">
        <!-- <ion-slides pager="true">
          <ion-slide *ngIf="selectedPet !== null">
            <ion-img [src]="selectedPet.main_image" alt="Pet Image"></ion-img>
          </ion-slide>
        </ion-slides> -->
      </div>

      <div class="col-lg-6 mb-4">
        <div class="container mt-4">
          <div class="row">
            <div class="col-md-12 mb-4">
              <div *ngIf="selectedPet !== null">
                <strong>History</strong>
                <p *ngFor="let history of selectedPet.biography">{{ history }}</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-4">
              <h2>Characteristics</h2>
              <ion-list lines="none">
                <ion-item *ngIf="selectedPet !== null">
                  <ion-label>Genre:</ion-label>
                  <ion-label>{{ selectedPet.sex }}</ion-label>
                </ion-item>
                <ion-item *ngIf="selectedPet !== null">
                  <ion-label>Birthdate:</ion-label>
                  <ion-label>{{ selectedPet.birthdate }}</ion-label>
                </ion-item>
                <ion-item *ngIf="selectedPet !== null">
                  <ion-label>Age:</ion-label>
                  <ion-label>{{ selectedPet.age }}</ion-label>
                </ion-item>
                <ion-item *ngIf="selectedPet !== null">
                  <ion-label>Chip:</ion-label>
                  <ion-label>{{ selectedPet.chip }}</ion-label>
                </ion-item>
                <ion-item *ngIf="selectedPet !== null">
                  <ion-label>Vaccines:</ion-label>
                  <ion-label>
                    <ion-list lines="none">
                      <ion-item *ngFor="let vaccine of selectedPet?.vaccines">{{ vaccine }}</ion-item>
                    </ion-list>
                  </ion-label>
                </ion-item>
                <ion-item *ngIf="selectedPet !== null">
                  <ion-label>Diseases:</ion-label>
                  <ion-label>{{ selectedPet.diseases }}</ion-label>
                </ion-item>
                <ion-item *ngIf="selectedPet !== null">
                  <ion-label>Observations:</ion-label>
                  <ion-label>
                    <ion-list lines="none">
                      <ion-item *ngFor="let observation of selectedPet?.observations">{{ observation }}</ion-item>
                    </ion-list>
                  </ion-label>
                </ion-item>
              </ion-list>
            </div>
          </div>
          <ion-button expand="block" color="success" class="ion-margin m-2" [routerLink]="['../../timetable/', selectedPet?.name]">Care for {{selectedPet?.name}}</ion-button>
          <ion-button expand="block" color="light" class="ion-margin" [routerLink]="['../../editAnimal/', selectedPet?.name]" *ngIf="isAdmin">Edit {{selectedPet?.name}}</ion-button>
          <ion-button expand="block" color="danger" class="ion-margin m-2" *ngIf="selectedPet !== null && isAdmin" (click)="deleteAnimal(selectedPet)">Delete {{selectedPet.name}}</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>

