<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CATS</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="container mt-3">
  <ion-button class="ion-margin-top ion-margin-bottom" expand="block" color="success" *ngIf="isAdmin" [routerLink]="['/addAnimal']">Afegir gatet</ion-button>
  <div class="ion-margin-top">
    <div *ngFor="let cat of getCats()">
      <ion-card (click)="selectCat(cat)" [routerLink]="['/pet', cat.name]">
        <ion-img [src]="cat.main_image" alt="Imagen"></ion-img>
        <ion-card-header>
          <ion-card-title class="ion-text-center">{{ cat.name }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>



