<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>HOME</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="container-fluid">
  <div *ngFor="let shelter of getShelters()" class="row">
    <div class="col-lg-6 mb-4 mt-4">
      <!-- <ion-slides pager="true">
        <ion-slide *ngFor="let image of shelter.images">
          <ion-img [src]="image" alt="Shelter Image"></ion-img>
        </ion-slide>
      </ion-slides> -->
    </div>
    <div class="col-lg-6 mb-4">
      <div class="container mt-4">
        <div class="row">
          <div class="col-md-12 mb-4">
            <h2>History</h2>
            <div>
              <p *ngFor="let history of shelter.history">{{history}}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-4">
            <h2>Location</h2>
            <div class="d-flex flex-column">
              <iframe [src]="shelter.mapsURL | safe" width="100%" height="325" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <div>
              <h5>Address</h5>
              <p>{{shelter.location}}</p>
              <h5>Contact</h5>
              <div>
                <p *ngFor="let contact of shelter.contact" class="mb-0">{{contact}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

